nav{
    display:flex;
    justify-content: space-around;


}

.home{
    border: black solid;
}

.hero{
    border: black solid;
    margin: 0 auto;
    padding: 10em;
}

.hero img{
    width: 100%;
   max-height: 100%:
}