


body{
    margin: 0; 
    padding: 0;
    background-color: grey;
  

}

nav{
    display:flex;
    justify-content: space-around;


}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow:hidden;
    margin: 0;
   padding: 0;
    align-items: center; /* Center items vertically */
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */

}

.photo-container{
    flex: 0 1 calc(50% - 20px);
   display: flex;
   justify-content: center;
   align-items: center;
   
 
    
}

.photo-container img{
    margin: 1em;
   
  
    width: 100%;
    background-size: cover;
    background-position: center;
  
   

}
.home{
  
}

@media screen and (max-width: 600px){
    .photo-container{
        flex: 0 1 calc(50% - 20px);
        margin: 10px;
            height: 100%; /* Set a fixed height or adjust as needed */  
    }
    

  
}

